.header-area{
    width:100%;
    height:100vh;
    background-image: url("/img/banner.jpg");
    background-size: cover;
}

.social-icons{
    width: 1.5em;
    height: 1.5em;
}

.logo-area{
    width: 6.25em;
    height:3.125em;
}

.header-rows{
    display: flex;
}