/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/* Header changes */
.header-area{
    height: 50vh;
}

.search-result-text{
    margin-left: 6.3em;
}

/* Search results */

.search-results{
    display: flex;
    max-width: 80%;
    margin: 1em auto;
    flex-wrap: wrap;
}

.search-result-box{
    position: relative;
    flex-basis: calc(90% /3);
    /* border: 1px solid black; */
    margin: 1em;
    border-radius: 5px;
    /* box-shadow: 5px 10px #eaeaea66; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-result-box:hover{
    transform: scale(1.1);
}

.search-result-img img{
    width: 325px;
    height: 15em;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 1em;
}

.bottom-left {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #000;
  } 

  .search-result-ratings{
    padding-left: 1em;
    height: 4em;
  }

  .star-checked{
      color: gold;
  }
  .location-marker{
    width: 0.8em;
  }

  .search-results-address{
      
    line-height: 1em;
    font-size: 0.9em;
  }